<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>acme_darwin copy.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>13</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9AB15D2229A8811400DFDF90</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9AFD807E297B578700BAD9DD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9AFD80B3297B584000BAD9DD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
